html, body {
    color: white;
    background-color: #89abcd;
    height: 100%;
    width: 100%;
    font-family: 'Barlow';
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



.zone {
    cursor: pointer;
    background-color: #4086ce;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: hidden;
    margin: 5px;
}

.bigZone {
    background-color: #4086ce;
    margin: 10px;
}

.bigContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto
}

@media screen and (max-width:1200px) {

    .bigContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto
    }
}


@media screen and (max-width:600px){

    .bigContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }


}




