html, body {
    color: white;
    background-color: #89abcd;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}



/*
----------------------NAVBAR STYLES----------------------
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    v   v   v   v   v   v   v   v   v   v   v   v   v
*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*
-----------------------BODY ELEMENTS STYLES------------------
    |   |   |   |   |   |   |   |   |   |   |   |   |  
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    v   v   v   v   v   v   v   v   v   v   v   v   v
*/


.carousel-item {
    max-width: 100%;
    max-height: 600px;
}


.bigContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
}

hr{
    color:white;
}

@media screen and (max-width:1200px) {

    .bigContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-content: center;
        justify-content: center;
    }
}


@media screen and (max-width:600px) {

    .bigContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-content: center;
        justify-content: center;
    }
}


/*
   -----------------------FOOTER STYLES------------------
    |   |   |   |   |   |   |   |   |   |   |   |   |  
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    |   |   |   |   |   |   |   |   |   |   |   |   |   
    v   v   v   v   v   v   v   v   v   v   v   v   v
*/


.footer {
    height: 30px;
    color: black;
    background-color: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    align-content: center;
}


