@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="~/css/Aviones.css" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</body>