@page
@model XTM3.Pages.PlanesPages.AvionNotFoundModel
@{
    ViewData["Title"] = "XTM - Plane Not Found";
}

<head>
    <link rel="stylesheet" href="~/css/Aviones.css" />
</head>

<body>

    <div>
        <h3 style="color:white">Avion wasn't found!</h3>
        <h4 style="color:white">You got lost terricola!</h4>
        <a role="button" class="btn btn-primary" style="position: absolute" asp-area="" asp-page="/PlanesPages/OurPlanes">Go Back</a>

    </div>

</body>