@page
@model XTM3.Pages.BookingsPages.BookingNotFoundModel
@{
    ViewData["Title"] = "XTM - Booking Not Found";
}

<head>
    <link rel="stylesheet" href="~/css/Planes.css" />
</head>

<body>

    <div>
        <h3 style="color:white">Booking was not found!</h3>
        <h4 style="color:white">You got lost terricola!</h4>
        <a role="button" class="btn btn-primary" style="position: absolute" asp-area="" asp-page="/BookingsPages/BookingsPage">Go Back</a>

    </div>

</body>
